.aboutMe {
  width: 100%;
  height: auto;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: column nowrap;
  padding: 2rem;
  padding-top: 7rem;

  .skillsBarsContainer {
    width: 100%;
    height: 40vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;

    h1 {
      font-size: 1.5rem;
      background-color: whitesmoke;
      clip-path: polygon(0 0, 85% 0, 100% 100%, 0% 100%);
      width: 30%;
    }
    .skillBar {
      background-color: whitesmoke;
      padding: 0.5rem;

      clip-path: polygon(97% 0%, 100% 50%, 97% 100%, 0% 100%, 0.7% 50%, 0% 0%);
      padding: 0.5rem 2rem 0.5rem 1rem;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      position: relative;

      .background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(86, 148, 62, 0.7);
        clip-path: polygon(98% 0%, 100% 50%, 98% 100%, 0% 100%, 0.7% 50%, 0 0);
      }
      p {
        z-index: 100;
      }
    }
    .html {
      width: 90%;
    }
    .css3 {
      width: 85%;
    }
    .javaScript {
      width: 90%;
    }
    .react {
      width: 80%;
    }
    .nodeJs {
      width: 60%;
    }
    .express {
      width: 75%;
    }
    .mongoDb {
      width: 70%;
    }
    .git {
      width: 65%;
    }
  }

  .infoContainer {
    height: 80vh;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-around;

    .infoDiv {
      h3 {
        clip-path: polygon(0 0, 85% 0, 100% 100%, 0% 100%);
        padding: 0.5rem;
        width: 30%;
        background-color: rgb(236, 230, 230);
      }
      p {
        background-color: whitesmoke;
        padding: 0.5rem;
        font-size: 1.2rem;
      }
    }
    .otherSkills {
      h3 {
        width: 52%;
      }
    }
    .leftRight {
      display: none;
    }
  }
}
