@media (min-width: 992px) {
  .App {
    .container {
      .video {
        height: 150vh;
      }

      .content {
        .subContent {
          display: flex;
          flex-flow: column;
          align-items: center;
          justify-content: space-between;
          overflow: hidden;
          a:link,
          :visited,
          :hover,
          :active {
            text-decoration: none;
            color: white;
          }

          img {
            width: 200px;
            height: 200px;
          }
        }
      }
    }

    .header {
      justify-content: flex-end;
      height: 5rem;
      .burgerMenu {
        display: none;
      }
      .nav {
        justify-content: flex-end;
      }
    }

    .main {
      box-shadow: 0 0 2rem rgba(114, 5, 5, 0.33);
      width: 80%;
      .aboutMe {
        flex-flow: column nowrap;
        padding-top: 5rem;

        .skillsBarsContainer {
          width: 50%;
          height: 30vh;
        }

        .infoContainer {
          height: 60vh;

          .infoDiv {
            p {
              font-size: 1.5rem;
            }
          }
        }
      }
      .portfolio {
        h5 {
          font-size: 500%m;
        }
      }
    }
  }
}
