@media (min-width: 992px) {
  .App {
    .container {
      .video {
        height: 150vh;
      }

      .content {
        .subContent {
          height: 100vh;
          display: flex;
          flex-flow: row;
          align-items: center;
          justify-content: space-between;
          overflow: hidden;

          .info {
            width: 400px;
            h1 {
              font-size: 4rem;
            }
            p {
              font-size: 2rem;
            }
            a {
              font-size: 2rem;
            }
            a:link,
            :visited,
            :hover,
            :active {
              text-decoration: none;
              color: white;
            }
          }
        }
      }
    }

    .header {
      justify-content: flex-end;
      height: 5rem;
      .burgerMenu {
        display: none;
      }
      .nav {
        justify-content: flex-end;
      }
    }

    .main {
      box-shadow: 0 0 1.5rem rgba(42, 47, 114, 0.7);
      width: 80%;
      .aboutMe {
        flex-flow: column nowrap;
        padding-top: 5rem;

        .skillsBarsContainer {
          width: 50%;
          height: 30vh;
        }

        .infoContainer {
          height: 60vh;

          .infoDiv {
            p {
              font-size: 1.5rem;
            }
          }
        }
      }
      .portfolio {
        .cards-container {
          .link {
            width: 33%;
            height: 200px;
            .card {
              height: 100%;
              .card-image {
                height: 125px;
              }

              .card-body {
                height: 75px;
              }
            }
          }
        }
      }
    }
  }
}
