@media (min-width: 992px) {
  .container {
    .video {
      height: 150vh;
    }

    .content {
      .subContent {
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: space-between;
        overflow: hidden;
        a:link,
        :visited,
        :hover,
        :active {
          text-decoration: none;
          color: white;
        }

        img {
          width: 200px;
          height: 200px;
        }
      }
    }
  }

  .header {
    justify-content: flex-end;
    height: 5rem;
    .burgerMenu {
      display: none;
    }
    .nav {
      justify-content: flex-end;
    }
    .socialLinks {
    }
  }

  .main {
    .aboutMe {
      flex-flow: column nowrap;
      padding-top: 5rem;

      .skillsBarsContainer {
        width: 50%;
        height: 30vh;
      }

      .infoContainer {
        height: 60vh;

        .infoDiv {
          p {
            font-size: 1.5rem;
          }
        }
      }
    }
  }
}
