@media (min-width: 481px) {
  .container {
    .video {
      height: 135vh;
    }

    .content {
      top: 0rem;
      background-color: rgba(0, 0, 0, 0);
      z-index: 0;

      .subContent {
        flex-direction: row;
        flex-wrap: wrap;
        padding: 0;
        width: 90%;
        justify-content: space-between;

        h1 {
          font-size: 2rem;
        }

        p {
          font-size: 1.5rem;
        }

        a {
          border: rgb(241, 241, 241) 2px solid;
          padding: 8px 20px;
          background-color: rgba(0, 0, 0, 0);
          font-size: 1.5rem;
          border-radius: 5px;
        }
        .image-container {
          width: 150px;
          height: 150px;
        }
      }
    }
  }

  .header {
    width: 100%;
    height: 5rem;

    .burgerMenu {
      width: 5%;
      height: 5rem;
      z-index: 200;
      padding: 1rem 0;

      .barOne {
        width: 4%;
      }
      .barThree {
        width: 4%;
      }
    }
    .burger-navList {
      top: 5rem;
      padding-bottom: 5rem;
    }

    .nav {
      width: 70%;
      display: none;
      justify-content: flex-start;

      .navList {
        width: 70%;
        display: flex;
        justify-content: space-around;

        .navLink a {
          font-size: 1.5rem;
        }
      }
    }
  }
  .main {
    .aboutMe {
      height: auto;
      flex-flow: row nowrap;
      padding-top: 10rem;
      justify-content: space-around;

      .skillsBarsContainer {
        width: 40%;
        height: 100vh;
        display: flex;
        margin-bottom: 2rem;

        h1 {
          width: 40%;
          padding: 0.3rem;
        }
      }

      .infoContainer {
        width: 60%;
        height: 100vh;
      }
    }
    .portfolio {
      .cards-container {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        .link {
          width: 50%;
          height: 300px;
          margin-bottom: 5%;
          .card {
            .card-image {
              height: 150px;
            }

            .card-body {
              height: 150px;

              .title {
                font-size: 1.7rem;
                text-align: center;
              }
              .description {
                font-size: 1.3rem;
                text-align: center;
              }
            }
          }
        }
      }
    }
    .contactMe {
      align-items: center;
      .form {
        width: 40%;
        height: 60;
        font-size: 1rem;

        .fieldMessage {
          height: 25%;
        }
      }

      .footer {
        height: 30vh;

        .socialLink {
          a {
            text-decoration: none;
            font-size: 1.2rem;
          }
          a :link,
          :visited,
          :hover,
          :active {
            color: black;
          }
        }
      }
    }
  }
}
